/* Page Headers and Footer */
#title {
	color:#b7a57a;
	font-size:3em;
	font-weight:bold;
	display:inline-block;
	text-shadow:3px 3px #847348;
	transition: margin-left .5s;
	text-decoration:none;
	text-align:center;
	user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	cursor:pointer;
}

#copyright {
		position:fixed;
		background-color:#36215e;
		width:100%;
		padding:10px 0 10px 0;
		font-size:20px;
		color:white;
		text-align:center;
		bottom:0;
}

#scrollCopyright {
		background-color:#36215e;
		width:100%;
		padding:10px 0 10px 0;
		font-size:20px;
		color:white;
		text-align:center;
		bottom:0;
}

.navContainer {
	height:60px;
	background-color:#4b2e83;
}


/* Side Navigation */
.sidenav {
  height:100%;
  width:0;
  position: fixed;
  z-index:1;
  top:0;
  left: 0;
  background-color: #36215e;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 50px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 1.5em;
  color: white;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color:#b7a57a;
	text-decoration:underline;
	cursor:pointer;
}

.sidenav a:visited {
  color:white;
}

.sidenav a:visited:hover {
  color:#b7a57a;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 20px;
  font-size: 36px;
  margin-left: 50px;
}


/* General Page Content */
body {
	background-color:#e6e6e6;
	margin:0;
	font-family:"Open Sans", Helvetica, Arial, Verdana, sans-serif;
}

.button {
	font-size:18px;
	font-weight:bold;
	color:#201439;
	background-color:white;
	border-radius:100px;
	border-color:rgba(255, 255, 255, 1);
}

.button:hover {
	color:#4b2e83;
}

.field {
	background-color:white;
	font-weight:bold;
	height:30px;
	border:2px solid rgba(217, 217, 217, 1);
	border-radius:10px;
	padding-left:10px;
	padding-right:10px;
	outline:none;
}

.collapsible {
	background-color: white;
	color: black;
	cursor: pointer;
	padding: 20px;
	width: 100%;
	text-align: left;
	font-size:16px;
	font-weight:bold;
	border:2px solid rgba(217, 217, 217, 1);
	border-radius:10px;
}

.collapsible:after {
	content: '\002B';
	color: black;
	font-weight: bold;
	float: right;
	margin-left: 5px;
}

.content {
	background-color:white;
	margin:30px 5vw 40px 5vw;
	border:2px solid rgba(217, 217, 217, 1);
	border-radius:10px;
	padding-left:10px;
	padding-right:10px;
	transition: margin-left .5s;
}

.unselectable {
		user-drag: none;
		user-select: none;
		-moz-user-select: none;
		-webkit-user-drag: none;
		-webkit-user-select: none;
		-ms-user-select: none;
		pointer-events: none;
}


/* Text Styles */
a {
	color:#4b2e83;
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}

a:visited {
	color:#9c37d2;
}

h1 {
	color:#4b2e83;
}

h2, h3 {
	color:#201439;
}


/* Campus Map CSS */
#campusMap {

}

#map {
	margin:30px 5vw 40px 5vw;
	float: left;
	transition: margin-left .5s;
}

#myimage{
	float: left;
  width: 50%;
  padding: 5px;
}

#myresult{
	float: left;
  width: 18%;
  padding: 5px;
}

.mapContainer {
	display:inline-block;
}

.mapContainer::after{
	display:inline-block;
	content: "";
  clear: both;
  display: table;
}

.img-zoom-container {
	position: relative;
	box-sizing: border-box;
}

.img-zoom-lens {
	position: absolute;
	border: none;
	width: 40px;
	height: 40px;
	box-sizing: border-box;
}

.img-zoom-result {
	border: 1px solid #d4d4d4;
	width: 300px;
	height: 300px;
	box-sizing: border-box;
}

/* Majors CSS */
#disclaimer {
	transition: margin-left .5s;
}

#topBtn {
	display: none;
	position: fixed;
	bottom: 10px;
	right: 20px;
	z-index: 99;
	font-size: 20px;
	background-color: indigo;
	color: white;
	cursor: pointer;
	padding: 15px;
	border-radius: 10px;
	display: block;
	border: none;
}

#majorSearch {
	background-color:white;
	height:30px;
	width:25%;
	margin:0 5vw 40px 5vw;
	border:2px solid rgba(217, 217, 217, 1);
	border-radius:10px;
	padding-left:10px;
	padding-right:10px;
	outline:none;
}

.dropbtn {
	background-color:white;
	margin-top:30px;
	margin-bottom:30px;
	border:2px solid rgba(217, 217, 217, 1);
	border-radius:10px;
	padding-left:10px;
	padding-right:10px;
	transition: margin-left .5s;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: indigo;
	color: white;
}

#majorInput {
	background-color:white;
	height:30px;
	width:100%;
	border:2px solid rgba(217, 217, 217, 1);
	border-radius:10px;
	padding-left:10px;
	padding-right:10px;
	outline:none;
}

#majorInput:focus {outline: 3px solid #ddd;}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  min-width: 400px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
	background-color: #ddd;
}

.show {
	display: block;
}

.groups {
transition: margin-left .5s;
margin-left: 10px;
}

.majorType {
	color:#cf9f30;
	text-shadow:1.2px 1.2px #847348;
	font-size:18px;
	font-weight:bold;
}

.information {
	padding: 0 18px;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
	background-color: #DBDBDB;
}

.active:after {
	content: "\2212";
}
