body {
	background-color:#e6e6e6;
	margin:0;
	font-family:"Open Sans", Helvetica, Arial, Verdana, sans-serif;
}

#title {
	color:#b7a57a;
	font-size:3em;
	font-weight:bold;
	display:inline-block;
	text-align:center;
	text-shadow:3px 3px #847348;
}

.content {
	background-color:white;
	margin:70px 5vw 70px 5vw;
	border:2px solid rgba(217, 217, 217, 1);
	border-radius:10px;
}

.navContainer {
	height:100px;
	background-color:#4b2e83;
}

.navTopContainer a {
	color:white;
	font-size:1.5em;
	align-self:flex-end;
	padding-right:1vw;
}

.navTopContainer a:hover {
	color:#b7a57a;
	text-decoration:underline;
	cursor:pointer;
}

.navTopContainer {
	display:flex;
	height:35%;
	background-color:#36215e;
}
